* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  line-height: 1.4;
  
}

p {
  margin-bottom: 10px;
}

article {
  width: 870px;
  
}

img {
  
}

h2.product-title {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  position: relative;
}

/* sale  */
.product-title::before {
  content: "SALE";
  background-color: red;
  position: absolute;
  padding: 5px 15px;
  color: white;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  top: -15px;
  left: -30px;
}

.container {
  width: 800px;
  margin: 50px auto;
  
}

/* PRODUCT */

.product {
  border: 4px solid black;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  background-color: antiquewhite;
}

/* PRODUCT INFO */
.product-info{
  position: relative;
}


.price {
  font-size: 25px;
  margin-right: 0;
  position: relative;
}

.shipping {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #777;
  position: absolute;
  top: 5px;
  left: 140px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

/* PRODUCT DETAIL */
.details-title {
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  background-color: antiquewhite;
  margin-bottom: 10px;
  position: relative;
}

.icons {
  letter-spacing: 5px;
  margin-top: 20px;
}

.details-list {
  list-style-type: square;
  margin-left: 20px;
  margin-bottom: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */

.add-to-cart {
  background-color: black;
  border: none;
  color: whitesmoke;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 31px;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.add-to-cart:hover {
  color: #000;
  background-color: whitesmoke;
}

/* FLOATS

/* .product-info {
  float: left;
  width: 250px;
  margin-left: 40px;
  margin-top: 20px;
}

.product-details {
  float: left;
  margin-left: 40px;
  margin-top: 20px;
  width: 250px;
} */

.main-container {
  display: flex;
  justify-content: space-between;
  height: 40vh;
  
  
  
}

.col-1{
  displa
  y: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1; 
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 30px;
}




/* 

flex box

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

#author {
  margin-bottom: 0;
  margin-left: 15px;
}

.related-post {.row {
  display: flex;
  align-items: flex-start;
  gap: 75px;
  margin-bottom: 16px;
}

  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-size: normal;
  margin-bottom: 5px;
  display: block;
}

.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 75px;
  margin-bottom: 16px;
}

article {
  flex: 1;
  margin-bottom: 0;
}

aside {
  flex: 0 0 300px;
} */ 
