* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  line-height: 1.4;
}

p {
  margin-bottom: 10px;
}

article {
  width: 870px;
}

img {
  float: left;
}

h2.product-title {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  position: relative;
}

/* sale  */
.product-title::before {
  content: "SALE";
  background-color: red;
  position: absolute;
  padding: 5px 15px;
  color: white;
  letter-spacing: 2px;
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  top: -15px;
  left: -30px;
}

.container {
  width: 800px;
  margin: 50px auto;
}

/* PRODUCT */

.product {
  border: 4px solid black;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  background-color: antiquewhite;
}

/* PRODUCT INFO */

.price {
  font-size: 25px;
}

p.price {
  margin-bottom: auto;
}

.shipping {
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-decoration: none;
}

/* PRODUCT DETAIL */
.details-title {
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  background-color: antiquewhite;
  margin-bottom: 10px;
  position: relative;
}

.icons {
  letter-spacing: 5px;
  margin-top: 20px;
}

.details-list {
  list-style-type: square;
  margin-left: 20px;
  margin-bottom: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */

.add-to-cart {
  background-color: black;
  border: none;
  color: whitesmoke;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.add-to-cart:hover {
  color: #000;
  background-color: whitesmoke;
}

.product-info {
  float: left;
  width: 250px;
  margin-left: 40px;
  margin-top: 20px;
}

.product-details {
  float: left;
  margin-left: 40px;
  margin-top: 20px;
  width: 250px;
}
